<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <input type="text" placeholder="id" v-model="product.id" readonly>
  <input type="text" placeholder="title" v-model="product.title">
  <input type="text" placeholder="price" v-model="product.price">
  <input type="text" placeholder="num" v-model="product.num">
  <input type="button" @click="update()" value="change">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
      el:"body>div",
      data:{
         product:{
           id:"",title:"",price:"",num:""
         }
      },
      methods:{
        update(){
            axios.post("/update",v.product).then(function (response) {
                alert("修改成功")
                location.href="/list.html"
            })
        }
      },
      created:function () {
       axios.post("/selectById"+location.search).then(function (response) {
           v.product = response.data
       })
      }
    })
</script>
</body>
</html>